body {
  background-attachment: fixed;
  font-family: "The Nautigal", cursive;
  background-image: url("https://images.wallpaperscraft.com/image/single/heart_glow_blur_54423_2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
